<h1>All Students</h1>

<ul>
  @foreach (var student in @Model)
  {
    <li><a href="/students/@student.GetId()/@student.GetName()">@student.GetName()</a></li>
  }
</ul>

<a href="/">Home</a>
<a href="/students/new">Add another student</a>
