<h1>Add Student</h1>

<form action="/students" method="post">
  <label for="student-name">Student name:</label>
  <input type="text" name="student-name" id="student-name">
  <label for="enrollment-date">Student enrollment date:</label>
  <input type="date" name="enrollment-date" id="enrollment-date">
  <button type="submit" name="button" class="add-btn">Add Student</button>
</form>

<p><a href="/">Back</a></p>
